%h1 Home#index

%p= link_to "Sign in", new_user_session_path
- if user_signed_in?
	
	%p
		ID: 
		= current_user.id
	
	%p
		Email: 
		= current_user.email
	
	%p= link_to "Sign out", destroy_user_session_path, :method => :delete