/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//
// Import partial files
//
@import "bootstrap";
@import "color";
@import "function";

html {
	min-height: 100%;
	position: relative;
}

body {
	color:	$light_blue;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin-bottom: 5em;
}

a {
	@extend hover;
	color:	$light_blue;
	cursor: pointer;
}

$header_height: 50px;
$img_vertical_margin: 8px;

img.logo {
	float: left;
	width: 150px;
	height:	$header_height - $img_vertical_margin * 2;
	margin: $img_vertical_margin 15px;
}

header {
	position: fixed;
	background-color: $light_blue;
	top: 0;
	width: 100%;
	height: $header_height;
	z-index: 9999;
	.is_login {
		float: right;
		line-height: 50px;
		color: white;
		font-weight: bold;
		font-size: 1.4em;
	}
	.sign_out_btn {
		@extend .btn;
		@extend .btn-default;
		@extend hover;
		font-weight:	bold;
		font-size:	1.2em;
		color: $light_blue;
	}
	.scroll-nav {
		float: right;
		margin: 10px 50px; 
		a {
			@extend hover;
			color: white;
			text-decoration: none;
			cursor: pointer;
			font-size: 20px;
			margin-right: 20px;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: $light_blue;
	width: 100%;
	height: $header_height;
	.tobitate_link {
		float: right;
		img {
			width: 120px;
			height:	$header_height - $img_vertical_margin * 2;
			margin: $img_vertical_margin 15px;
		}
	}
	.contact {
		margin: 25px 0;
		line-height: 50px;
		color: white;
		font-size: 1.5em;
	}
}

#input-map {
	width: 80%;
	height: 380px;
	margin: 20px auto;
}

#map {
	width: 80%;
	height: 380px;
	margin: 0 auto;
}

#about {
	width: 100%;
	margin: 50px auto;
	padding: 30px 10px 30px;
	font-size: 22px;
	border-style: solid;
	border-color: $light-blue;
	border-width: 1px;


	hr {
		width: 95%;
		height: 1px;
		border-style: solid;
		border-color: $light_blue;
		margin: 40px auto 40px;
	}

	#feature {
		text-align: left;
		padding-left: 30px;
		font-size: 18px;
		p { margin: 10px 40px 0px 10px; }
	}
}

$person_width: 180px;

#people {
	font-size: 18px;
	margin-bottom: 50px;

	#selected {
		color: $gray_strong;
		a { cursor: pointer; }
	}

	#people_container {
		@extend .row;
		width: 90%;
		height: 400px;
		margin: 30px auto;
		overflow: hidden;

		.person {
			img {
				width: $person_width;
				height: $person_width;
			}
			.name {
				margin: 10px;
				font-size: 18px;
			}
			.text {
				width: $person_width + 30px;
				height: $person_width;
				font-size: 16px;
				color: $gray_strong;
				margin: 0 auto;
			}
		}
	}
}

.carousel {
	margin: 30px auto;
	.item {
		width: 100%;
		height: 600px;
	}

	.university_photo {
		min-height: 100%;
		width: 100%;
	}

	.carousel-indicators {
		$indicator_height: 50px;
		height: $indicator_height;
		line-height: $indicator_height;
		background-color: rgba(0,0,0,0.2);
	}

	.recommended_point {
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -35%;
		width: 70%;
		height: 450px;
		text-align: center;
		background-color: rgba(0,0,0,0.2);
		color: white;
		font-size: 18px;
		text-shadow: 3px 3px 1px black;
		z-index: 8888;
		h2 { 
			margin-bottom: 20px; 
			text-decoration: underline; 
		}
		p {
			width: 80%;
			margin: 0 auto;
		}
	}
}

#article_container {
		width: 100%;
		margin: 0 auto 20px;
		
		.article {
			margin: 10px 16px 20px;
			width: 30%;
			padding: 20px;
			border-style: solid;
			border-width: 1px;
			border-color: $gray_strong;


			img {
				width: $person_width * 1.3;
				height: $person_width;
			}
			.title {
				margin: 10px auto;
				font-size: 20px;
			}
			.name {
				margin: 10px auto;
				font-size: 16px;
			}
			.info {
				width: $person_width;
				text-align: left;
				font-size: 12px;
				color: $gray_strong;
				margin: 0 auto;
			}
		}
	}

.main_container {
	$vertical_margin: 30px;
	@extend .container;
	@extend .text-center;
	width: 80%;
	margin-top: $header_height + $vertical_margin;
	margin-bottom: 80px;
}

.members_container {
	$vertical_margin: 30px;
	@extend .container;
	@extend .text-center;
	width: 80%;
	margin-top: $header_height + $vertical_margin;
	margin-bottom: $vertical_margin;
	border-style: dashed;

	.mandatory {
		display: inline;
		color: $notice_red;
		font-weight: bold;
	}
}

form table {
	$input_width: 100%;
	$textarea_height: 100px;
	width: 90%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 1.5em;
	th {
		display: inline;
		float: left;
	}
	input {
		width: $input_width;
	}
	textarea {
		width: $input_width;
		height: $textarea_height;
	}
	select {
		width: $input_width;
		float: left;
		overflow: hidden;
	}
}

.home table {
	margin: 20px auto;
	.button_to {
		input[type="submit"] {
			@extend .btn;
			@extend .btn-primary;
			@extend hover;
			width: 200px;
			height: 50px;
			font-weight: bold;
			font-size: 1.2em;
			background-color: $light_blue;
		}
	}
}

img.user_icon {
	width: 50px;
	height: 50px;
}

.button_to {
	float: right;
	margin: 7px 20px;
}

.actions {
	.actions-design {
		@extend hover;
		font-weight:	bold;
		font-size:	1.5em;
		background-color:	white;
		border-style:	none;
		margin: 10px;
	}

	input[type="submit"] {
		@extend .actions-design;
	}

	a {
		@extend .actions-design;
		&:hover {
				text-decoration: none;
		}
	}
}

#error_explanation {
	ul {
		@extend .alert;
		@extend .alert-danger;
		list-style: none;
		margin-top: 1.5em;
	}
}

.notice {
	@extend .alert;
	margin: 1.5em 0 0;
}

.field_with_errors {
	display: inline;
}