/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//
// Import partial files
//
@import "bootstrap";
@import "color";
@import "function";

html {
	min-height: 100%;
	position: relative;
}

body {
	color:	$light_blue;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin-bottom: 5em;
}

a {
	@extend hover;
	color:	$light_blue;
	cursor: pointer;
}

$header_height: 50px;
$img_vertical_margin: 8px;

img.logo {
	float: left;
	width: 150px;
	height:	$header_height - $img_vertical_margin * 2;
	margin: $img_vertical_margin 15px;
}

header {
	position: fixed;
	background-color: $light_blue;
	top: 0;
	width: 100%;
	z-index: 9999;
	.is_login {
		float: right;
		line-height: 50px;
		color: white;
		font-weight: bold;
		font-size: 1.4em;
	}
	.sign_out_btn {
		@extend .btn;
		@extend .btn-default;
		@extend hover;
		font-weight:	bold;
		font-size:	1.2em;
		color: $light_blue;
	}
	.scroll-nav {
		float: right;
		margin: 10px 50px; 
		a {
			@extend hover;
			color: white;
			text-decoration: none;
			cursor: pointer;
			font-size: 20px;
			margin-right: 20px;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: $light_blue;
	width: 100%;
	height: $header_height;
	.tobitate_link {
		float: right;
		img {
			width: 120px;
			height:	$header_height - $img_vertical_margin * 2;
			margin: $img_vertical_margin 15px;
		}
	}
	.contact {
		margin: 25px 0;
		line-height: 50px;
		color: white;
		font-size: 1.5em;
	}
}

@mixin image_sizer($width, $height_rate) {
	.image_sizer {
		position: relative;
		width: $width;
		margin: 0 auto;
		img {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			width: 100%;
			height: 100%;
		}
	}
	.image_sizer:after {
			padding-top: $height_rate; // Aspect rate of height
			display: block;
			content: "";
	}
}

#map {
	width: 100%;
	height: 600px;
}

.marker_data {
	display: none;
}
.marker_datum {
	.baloon {
		@include image_sizer(50%, 100%);
		img {
			@extend image_hover_shadow;
		}
	}
}

#about_container {
	width: 100%;
	margin: 50px auto;
	border-style: solid;
	border-color: $light-blue;
	border-width: 1px;

	#about {
		font-size: 22px;
		padding: 0 30px;
		h1 {
			margin: 20px;
		}
	}

	hr {
		width: 90%;
		height: 1px;
		border-style: solid;
		border-color: $light_blue;
		margin: 40px auto 40px;
	}

	#feature {
		text-align: left;
		font-size: 18px;
		padding: 0 50px;
		margin-bottom: 50px;
		p { margin: 10px 40px 0px 10px; }
	}
}

$person_width: 180px;

#people {
	margin-bottom: 50px;

	#selected {
		color: $gray_strong;
	}

	.person_container {
		margin: 30px auto;
		.person {
			@include image_sizer(70%, 100%);
			padding: 30px 0;
			min-height: 450px;
			border-style: solid;
			border-width: 1px;
			border-color: $gray_strong;
			img {
				@extend image_hover_shadow;
			}
			.name {
				margin: 10px;
				font-size: 20px;
			}
			.text {
				width: 80%;
				font-size: 16px;
				color: $gray_strong;
				text-align: left;
				margin: 0 auto;
			}
		}
	}
}

.carousel {
	position: relative;
	width: 90%;
	margin: 30px auto;
	@include image_sizer(100%, 60%);

	.recommended_point {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto; 
		width: 70%;
		height: 70%;
		background-color: rgba(0,0,0,0.2);
		color: white;
		text-shadow: 3px 3px 1px black;
		z-index: 8888;
		h2 { 
			text-align: center;
			margin-bottom: 20px; 
			text-decoration: underline; 
		}
		p {
			width: 80%;
			font-size: 18px;
			margin: 0 auto;
		}
	}
	.recommended_point:after {
		position: absolute;
		width: 200px;
		height: auto;
		content: "おすすめポイント！";	/* 表示するテキスト */
		text-align: center;
		color: $yellow;
		font-weight: bold;
		padding: 5px 10px;
		left: -105px;
		top: -25px;
		transform: rotate(-25deg);
	}
}

.breadcrumb {
	width: 90%;
	margin: 0 auto;
}

#articles_container {
	width: 95%;
	min-height: 400px;
	margin: 0 auto 20px;
		
	.article_container {
		margin-top: 30px;
		.article {
			@include image_sizer(100%, 70%);
			padding: 30px 30px 20px;
			border-style: solid;
			border-width: 1px;
			border-color: $gray_strong;
			img {
				@extend image_hover_shadow;
			}
			.title {
				margin: 10px auto 0;
				min-height: 60px;
				max-width: 100%;
				word-wrap: break-word;
				text-align: left;
				font-size: 20px;
			}
			.name {
				font-size: 16px;
			}
			.university {
				text-align: left;
				font-size: 16px;
			}
			.info {
				text-align: left;
				font-size: 12px;
				color: $gray_strong;
			}
		}
	}
}

#content_container {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	.name {
		font-size: 18px;
	}
	.info {
		margin: 0;
		text-align: left;
		font-size: 14px;
		color: $gray_strong;
	}
	.content {
		font-size: 14px;
		color: $gray_strong;
	}
	h3 {
		padding: 5px 0 2px 8px;  
		border-left: 7px solid $light_blue;
    border-bottom: 1px solid $light_blue;
	}
}

.show_photo {
	margin: 30px auto;
	min-width: 60%;
}

.main_container {
	$vertical_margin: 20px;
	@extend .container;
	@extend .text-center;
	width: 80%;
	margin-top: $header_height + $vertical_margin;
	margin-bottom: 80px;

	.mandatory {
		display: inline;
		color: $notice_red;
		font-weight: bold;
	}
}

form table {
	$input_width: 100%;
	$textarea_height: 100px;
	width: 90%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 1.5em;
	th {
		display: inline;
		float: left;
	}
	input {
		width: $input_width;
	}
	textarea {
		width: $input_width;
		height: $textarea_height;
	}
	select {
		width: $input_width;
		float: left;
		overflow: hidden;
	}
	input[type=check_box] {
		float: left;
	}
}

.home table {
	margin: 20px auto;
	.button_to {
		input[type="submit"] {
			@extend .btn;
			@extend .btn-primary;
			@extend hover;
			width: 200px;
			height: 50px;
			font-weight: bold;
			font-size: 1.2em;
			background-color: $light_blue;
		}
	}
}

img.user_icon {
	width: 50px;
	height: 50px;
}

.button_to {
	float: right;
	margin: 7px 20px;
}

.actions {
	.actions-design {
		@extend hover;
		font-weight:	bold;
		font-size:	1.5em;
		background-color:	white;
		border-style:	none;
		margin: 10px;
	}

	input[type="submit"] {
		@extend .actions-design;
	}

	a {
		@extend .actions-design;
		&:hover {
				text-decoration: none;
		}
	}
}

#error_explanation {
	ul {
		@extend .alert;
		@extend .alert-danger;
		list-style: none;
		margin-top: 1.5em;
	}
}

.notice {
	@extend .alert;
	margin: 1.5em 0 0;
}

.field_with_errors {
	display: inline;
}