// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
// Import partial files
//
@import "bootstrap";
@import "color";
@import "function";



//
// Declare whole tag
//

body {
	color:	$light_blue;
}

header {
	background-color: $light_blue;
}

a {
	@extend hover;
	color:	$light_blue;
}

h2 {
	margin: 20px auto;
}



//
// Declare layout of contents
//

// Table
table.login {
	text-align: center;
	margin: 0 auto;
}



//
// Declare particular contents design
//

// Image Logo
img.header_icon {
		width:	15%;
		height:	15%;
		margin: 1%;
}

.actions {
	// Submit button design

	.actions-design {
		@extend hover;
		font-weight:	bold;
		font-size:	1.5em;
		background-color:	white;
		border-style:	none;
		margin: 10px;
	}

	input[type="submit"] {
		@extend .actions-design;
	}

	a {
		@extend .actions-design;
		&:hover {
				text-decoration: none;
		}
	}
}

