// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
// Import partial files
//
@import "bootstrap";
@import "color";
@import "function";



//
// Declare whole tag
//

body {
	color:	$light_blue;
}

header {
	background-color: $light_blue;
}

a {
	@extend hover;
	color:	$light_blue;
}



//
// Declare layout of contents
//

.my_container {
	@extend .container;
	@extend .text-center;
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: dashed;
}

form table {
	$input_width: 340px;
	$textarea_height: 70px;

	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 1.5em;
	th {
		display: inline;
		float: left;
		.mandatory {
			display: inline;
			color: $notice_red;
			font-weight: bold;
		}
	}
	input {
		width: $input_width;
	}
	textarea {
		width: $input_width;
		height: $textarea_height;
	}
}

.home table {
	margin: 20px auto;
	.button_to {
		input[type="submit"] {
			@extend .btn;
			@extend .btn-primary;
			@extend hover;
			width: 200px;
			height: 50px;
			font-weight: bold;
			font-size: 1.2em;
			background-color: $light_blue;
		}
	}
}



//
// Declare particular contents design
//

img.header_icon {
		width:	15%;
		height:	15%;
		margin: 1%;
}

img.photo {
	width: 50px;
	height: 50px;
}

.actions {
	.actions-design {
		@extend hover;
		font-weight:	bold;
		font-size:	1.5em;
		background-color:	white;
		border-style:	none;
		margin: 10px;
	}

	input[type="submit"] {
		@extend .actions-design;
	}

	a {
		@extend .actions-design;
		&:hover {
				text-decoration: none;
		}
	}
}

.button_to {
	float: right;
	margin: 15px 50px;
	.sign_out_btn {
		@extend .btn;
		@extend .btn-default;
		@extend hover;
		font-weight:	bold;
		font-size:	1.2em;
		color: $light_blue;
	}
}

span.is_login {
	float: right;
	margin: 20px 0;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

#error_explanation {
	ul {
		@extend .alert;
		@extend .alert-danger;
		list-style: none;
		margin-top: 1.5em;
	}
}

.notice {
	@extend .alert;
	margin: 1.5em 0 0;
}

.field_with_errors {
	display: inline;
}