= render "devise/shared/header"

.my_container
	%h1
		-# テキストは、/config/locale/ja.ymlの内容を使います。
		-# フォームなど、ラベルを使えるものは良いのですが、使えないものはこのようにtタグを使ってください。
		= t "page_title.add_univ"

	-# 以降のフォームを作ってください。
	-# できればGoogleMapのところはcoffeescriptで作ってみてほしいな～なんて